<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EVDiss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EVDiss.Properties.Settings>
            <setting name="Observations" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AgentNo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BuildIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EnvIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BreadcrumbChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </EVDiss.Properties.Settings>
    </userSettings>
</configuration>